button{
    background-color: rgb(7, 205, 227);
    border: 0;
    width: auto;
    height: 60px;
    font-size: 20px;
    
}
button:hover{
    background-color: rgb(37, 79, 139);
    transition:  0.3s;
}
